@media screen and (max-width: 980px) {
  .logo {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom:10px;
  }

  .login {
    width: 450px;
    float: none;
    margin: auto;
  }
  .login form {
    float: none;
  }
  /*staring sing-up part @ */
  .left {
    width: 100%;
    float: none;
  }
  .right {
    width: 100%;
    float: left;
  }
  .left p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
 
  .login {
    width: 100%;
  }
  .login .email,
  .login .pass,
  .login .sub {
    float: none;
    margin-right: 15px;
   
  }
  .login input[type="text"],
  .login input[type="password"] {
    width: 100%;
    box-sizing: border-box;
  }
  .login input[type="submit"] {
    margin: 5px 0px;
  }
}
@media screen and (max-width: 480px) {
.container {
  width: 80%;
} 
}
@media screen and (max-width: 623px) {
  /*staring sing-up part @ */
  .birth-link  {
    margin-top: 10px;
  }
}